.ErrorPage {
    margin-bottom: 100px;
}

.TitleError{
    font-weight: 700;
    font-size: 250px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0;
}

.text-error {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ComeBack-Home-Error {
    font-size: 18px;
}